// General
$padding-typ: 15px;

// Colors
$white:                  #fff;
$gray-lighter:           #eee;
$gray-light:             darken($gray-lighter, 53%);
$gray:                   darken($gray-lighter, 67%);
$gray-dark:              darken($gray-lighter, 80%);
$gray-darker:            darken($gray-lighter, 87%);
$gray-base:              darken($gray-lighter, 100%);

$brand-primary:         #FF7043;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

// Border
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Main elements
$body-bg: $gray-lighter;

// Navbar
$navbar-default-brand-color: $white;
$navbar-default-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-color: $white;
$navbar-default-brand-hover-color: $white;
$navbar-default-bg: $brand-primary;
$navbar-default-border: $brand-primary;

// Forms
$input-border-focus: $brand-primary;
$input-color: $gray-base;

@import 'bootstrap';
@import "ember-power-select";
@import url(https://fonts.googleapis.com/css?family=Codystar);

.navbar {
  .container {
    background-color: transparent;
  }

  .navbar-brand {
    font-family: 'Codystar', Helvetica, Arial, sans-serif;
    font-size: 50px;
    margin-top: -$padding-typ;
    margin-bottom: -$padding-typ;
  }
}

.container {
  width: 100%;
  background-color: $white;
  padding: $padding-typ;

  @media (min-width: $screen-sm-min) {
    width: $screen-sm-min;
  }

  @media (min-width: $screen-md-min) {
    width: $screen-md-min;
  }
}

.ado-dog-tile {
  position: relative;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    float: left;
    margin-left: $padding-typ;
    height: ($screen-sm-min) / 2;
    width: ($screen-sm-min) / 2 - (3/2 * $padding-typ);
  }

  @media (min-width: $screen-md-min) {
    height: ($screen-md-min) / 2;
    width: ($screen-md-min) / 2 - (3/2 * $padding-typ);
  }

  img {
    width: 100%;
  }

  .ado-tile-info {
    min-height: 100px;
    position: absolute;
    padding: $padding-typ;
    bottom: 20px;
    width: 100%;
    vertical-align: bottom;
  }
}
