{{#if doghouse.dogs}}
  <div class="row">
    {{#each doghouse.dogs as |dog|}}
      {{dog-tile-with-modal dog=dog}}
    {{/each}}
  </div>
{{else}}
  <p>
    {{#link-to 'index'}}Add dogs that you would like to meet to your doghouse{{/link-to}}
  </p>
{{/if}}
