<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ADOPTSY</a>
    </div>
    <div class="ado-navbar-doghouse navbar-right">
      <a href="#">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        {{doghouse-count}}
      </a>

    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
