<nav class="navbar navbar-default">
  <div class="container">
    {{#link-to 'index' class="navbar-brand"}}ADOPTSY{{/link-to}}
    <div class="ado-doghouse">
      {{#link-to 'my-doghouse'}}
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        {{doghouse-count}}
      {{/link-to}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
